<h1>New Product</h1>
<form action="recipes" method="post">
  <div>
    Title: <input type="text" name="name">
  </div>  
  <div>
    Artist: <input type="text" name="artist">
  </div>  
  <div>
    Year: <input type="text" name="year">
  </div>  
  <div>
    label: <input type="text" name="label">
  </div>  
  <div>
    Price: <input type="text" name="price">
  </div> 
  <div>
    Description: <textarea cols="30" rows="10"></textarea>
  </div>
  <div>
    <input type="submit" name="" value="Create Product">
  </div>
</form>