<h1>New Product</h1>
<form action="/products" method="post">
  <div>
    Title: <input type="text" name="name" />
  </div>  
  <div>
    Artist: <input type="text" name="artist" />
  </div>  
  <div>
    Year: <input type="text" name="year" />
  </div>  
  <div>
    Label: <input type="text" name="label" />
  </div>  
  <div>
    Price: <input type="text" name="price" />
  </div> 
  <div>
    Description: <input type="text" name="description" />
  </div>
  
  <div>
    <input type="submit" name="" value="Create Product">
  </div>
</form>